.container {
    width: 100%;
    max-width: 600px;
    margin: 3rem auto;
    background-color: #5a5265;
    border-radius: .5rem;
    padding: 1.5rem;
}
.btn:hover {
    background-color: #363040;
}