.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
}
label {
    width: 100%;
    margin-bottom: .5rem;
}
span {
    margin-right: .5rem;
}
input, textarea {
    width: 100%;
    background-color: #433e49;
    border: none;
    color: white;
    font-family: inherit;
    padding: .5rem;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}
label.date {
    width: 55%;
}
input[type=date] {
    color-scheme: dark;
    width: 45%;
}
input[type=time] {
    color-scheme: dark;
    width: 40%;
}
button {
    width: 20%;
    background-color: lightskyblue;
    color: black;
    margin-left: .5rem;
}
button:hover {
    background-color: #71add2;
}
button.secondary {
    background-color: #635a6e;
    color: white;
    margin-left: auto;
}
button.secondary:hover {
    background-color: #524B5AFF;
}
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}