<div class="form">
	<label>
		<span class="sr-only">Title</span>
		<input placeholder="Title" [(ngModel)]="memo.title">
	</label>
	<label>
		<span class="sr-only">Description</span>
		<textarea rows="3" placeholder="Description" [(ngModel)]="memo.desc"></textarea>
	</label>
	<label class="date">
		<span class="sr-only">Due</span>
		<input type="date" name="date" [ngModel]="memo.dueDate | date: 'yyyy-MM-dd'" (ngModelChange)="onDateChange($event)">
	</label>
	<button class="btn" (click)="saveMemo()">Save</button>
</div>
